dataset/*
experiment*
slurm/*
logs_slurm/*

*.slurm


source/GFVC/*/checkpoint/*.pth.tar

config/rdacp*
source/RDACP*
source/GFVC/RDACP*

*cdac*
source/CDAC*
source/GFVC/CDAC

# results/

evaluate/eval_utils/vmaf*
evaluate/rdac_ablation*

script*



