compressai==1.2.4
einops==0.7.0
imageio-ffmpeg==0.4.8
lpips==0.1.4
matplotlib==3.6.3
mediapipe==0.10.3
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
opencv-python==4.7.0.68
pandas==1.5.2
Pillow==9.4.0
piq==0.8.0
plotly==5.17.0
prompt-toolkit==3.0.39
protobuf==3.20.3
psnr-hvsm==0.1.0
pytorch-msssim==0.2.1
pytz==2022.7
PyWavelets==1.4.1
PyYAML==6.0
scikit-image==0.19.3
scikit-learn==1.2.0
scikit-video==1.1.11
scipy==1.10.1
seaborn==0.13.0
siti-tools @ git+https://github.com/VQEG/siti-tools@40d5141e3897c7c7e4f463cba5bde89261995c20
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0.post1
tensorboard==2.15.0
timm==0.4.12
torch==1.13.1
torch-dct==0.1.6
torchmetrics==1.2.1
torchvision==0.14.1
tqdm==4.65.2
wandb==0.13.9
